# Node
/backend/node_modules/
/backend/.env

# Python
/analyzer/.env
/analyzer/__pycache__/
/analyzer/*.csv
/analyzer/venv/

# Python cache files
__pycache__/
*.py[cod]
*$py.class
.Python

# Python virtual environments
venv/
ENV/
.venv/
env/
env.bak/
venv.bak/

# Python package files
*.egg
*.egg-info/
.installed.cfg
*.egg-info/
.eggs/
eggs/
develop-eggs/
dist/
downloads/
wheels/
sdist/
var/
parts/

# General
.DS_Store
*.log
*.tmp
.env
*.zip    